* {
    color: antiquewhite;
    background-color: rgb(62, 136, 200);
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    margin: 10px 5px;
    color: bisque;
    background-color: rgb(51, 113, 167);
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header>h1 {
    color: bisque;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 250px;
    margin-left: 50px;
    padding-right: 30%;
    padding-left: 90px;
    text-align: center;
    background-color: rgb(51, 113, 167);
    




}

.home {
    margin: 10px 100px 10px 300px;
    background-color: rgb(51, 113, 167);
}

div>img {
    background-color: rgb(51, 113, 167);
    width: 90vw;
    height: 50vh;
    object-fit: cover;
    object-position: 0% 50%;
    padding: 10px 10px;
}

div>nav {
    text-align: end;
    padding-left: 360px;
    background-color: rgb(51, 113, 167)
}

div>nav>a {
    color: antiquewhite;
    margin: 2px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(51, 113, 167);
    background-color: rgb(51, 113, 167);
    text-decoration: none;

}

.titles {
    margin: 10px 20px;
    background-color: rgb(51, 113, 167);
   
    
}

div>h1 {

    text-align: center;
    background-color: rgb(51, 113, 167);
    text-decoration: underline;
    color: bisque;
    font-size: x-large;



}

section>img {
    display: inline;
    width: 150px;
    margin-bottom: 80px;
    margin-left: 150px;


}

.about {
    display: inline-block;
    text-align: left;
    margin: 5px 150px 10px 100px;
    color: antiquewhite;
    font-size: x-large;
}

#logo-mision {
    display: inline;
    width: 150px;
    margin-bottom: 0px;
    margin-left: 10px;
    position: absolute;
}

.mision {
    font-size: x-large;
    display: inline-block;
    padding-bottom: 200px;
    margin: 0px 200px 20px 200px;

}


section>h3 {
    font-weight: bold;
    text-decoration: underline;

}

div>h2 {
    margin: 20%;
    margin-top: 5%;
    margin-left: 10px;
    display: inline;
    text-decoration: none;
    background-color: rgb(62, 136, 200);
    
}

#logo-contact {
    display: inline;
    width: 150px;
    margin-bottom: 50px;
    margin-left: 50px;
    position: absolute;
}

.email {

    text-decoration: none;
    text-align: left;
    margin: 20px 200px 15px 250px;
    padding-bottom: 10px;
    padding-top: 30px;
    color: antiquewhite;
    font-size: x-large;
    color: rgb(62, 136, 200);
}